<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content})}" xmlns:message="http://www.w3.org/1999/xhtml">
<head>

  <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/static/css/output.css">
0


</head>
<body>
<div id="content">

  <!-- Sidebar -->
  <div th:if="${loggedInUser}">
    <div th:replace="~{user/sidebar :: sidebar}"></div>
  </div>

  <div class="sm:pl-64 pt-20" style="height: 1000px">
    <div class="grid grid-cols-12">
      <div class="col-span-3"></div>
      <div class="col-span-12 md:col-span-6">
        <div class="card block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="margin-left: 323px; margin-right: 185px;">

          <div th:replace="message::messagebox"></div>

          <h1 class="text-2xl font-semibold dark:text-white">Add New Contact</h1>
          <p class="text-gray-500">
            This contact will be stored on cloud, you can direct email this client from scm...
          </p>


          <form
                  class="mt-8"
                  th:action="@{'/user/contact/add'}"
                  th:object="${contactForm}"
                  method="post"
                  enctype="multipart/form-data"

          >
            <!-- Name -->
            <div class="mb-3">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Name</label>
              <div class="relative mb-1">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                  <i class="fa-solid fa-user"></i>
                </div>
                <input
                        type="text"
                        th:field="*{name}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                        placeholder="name"
                />
              </div>
              <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>

            <!-- Email -->
            <div class="mb-3">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Email</label>
              <div class="relative mb-1">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                  <i class="fa-regular fa-envelope"></i>
                </div>
                <input
                        type="email"
                        th:field="*{email}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                        placeholder="example@gmail.com"
                />
              </div>
              <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>

            <!-- Phone -->
            <div class="mb-3">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Phone</label>
              <div class="relative mb-1">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                  <i class="fa-solid fa-phone"></i>
                </div>
                <input
                        type="text"
                        th:field="*{phoneNumber}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                        placeholder="9823525525"
                />
              </div>
              <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
            </div>

            <!-- Address -->
            <div class="mb-3">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Address</label>
              <textarea
                      th:field="*{address}"
                      rows="4"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                      placeholder="Address of the contact"
              ></textarea>
              <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
            </div>

            <!-- Description -->
            <div class="mb-3">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Description</label>
              <textarea
                      th:field="*{description}"
                      rows="4"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                      placeholder="Write about your contact"
              ></textarea>
            </div>

            <!-- Social Links -->
            <div class="flex space-x-3 mb-3">
              <div class="w-full">
                <div class="relative mb-6">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <i class="fa-solid fa-earth-americas"></i>
                  </div>
                  <input
                          type="url"
                          th:field="*{websiteLink}"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                          placeholder="https://example.com/"
                  />
                </div>
              </div>
              <div class="w-full">
                <div class="relative mb-6">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <i class="fa-brands fa-linkedin"></i>
                  </div>
                  <input
                          type="url"
                          th:field="*{linkedInLink}"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                          placeholder="https://linkedin.com/in/example"
                  />
                </div>
              </div>
            </div>

            <!-- Image Upload -->
            <div class="mb-3">
              <label
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Contact Image</label
              >
              <input
                      id="image_file_input"
                      class="block w-full mb-2 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                      th:field="*{contactImage}"
                      type="file"
              />

              <p
                      class="text-red-500"
                      th:if="${#fields.hasErrors('contactImage')}"
                      th:errors="*{contactImage}"
              >
                Invalid Name
              </p>

              <img
                      class="max-h-52 mx-auto rounded-lg shadow m-3"
                      src=""
                      id="upload_image_preview"
                      alt=""
              />
            </div>

            <!-- Favorite Checkbox -->
            <div class="flex items-center mb-3">
              <input
                      type="checkbox"
                      th:field="*{favorite}"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
              />
              <label class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Is this contact your favorite?
              </label>
            </div>

            <!-- Buttons -->
            <div class="text-center">
              <button type="submit" class="px-3 py-2 bg-black text-white rounded hover:bg-gray-800">
                Add Contact
              </button>
              <button type="reset" class="px-3 py-2 bg-black text-white rounded hover:bg-gray-800">
                Reset
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>

<script th:src="@{'/js/admin.js'}"></script>
<script>
  console.log("this is profile page");
</script>
</body>
</html>
